/* Common style */
.top {
  position: relative;
  width: 100vw;
  height: 63px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#infor {
  width: 24px;
  height: 24px;
}
#para1 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  height: 24px;
  color: #0047ab;
  margin-left: 9px;
  margin-top: 16px;
}
#logo {
  background: url(./assets/UCLogo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  margin-top: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-left: 1px solid gray;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.nav-link:hover {
  color: #0047ab !important;
}
.active {
  color: #0047ab !important;
}
#about {
  border: none;
}
.tel {
  margin-right: 5vw;
  height: 22px;
  display: flex;
  align-items: center;
}
#mobile {
  color: #0047ab;
  line-height: 22px !important;
  height: 22px !important;
  font-size: 18px;
  font-weight: 600;
  margin-left: 9px;
}
.navbar-toggler {
  margin-right: 16px;
  transition: none !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.main {
  width: 100vw;
  background: linear-gradient(44.42deg, #fff1e1 28.4%, #ffffff 52.55%);
  overflow: hidden;
  position: relative;
}

.main .image {
  background: url("./assets/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.locEle {
  background: linear-gradient(208.56deg, #ffc03d -29.1%, #ffc107 64.78%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.locEle #para3 {
  color: #2b2d42;
  margin: 0;
  padding-left: 6px;
}
.parent {
  height: auto;
}
.Containertwo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.column1 h3 {
  font-weight: bold;
  letter-spacing: -0.005em;
  color: #2b2d42;
}
.column2 p {
  letter-spacing: -0.007em;
  color: #2b2d42;
}
.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* for mobile devices */

@media (max-width: 480px) {
  .navbar {
    height: 64px;
  }
  #para1 {
    font-size: 14px;
  }
  #logo {
    width: 150px;
    height: 32px;
    margin-left: 16px;
  }
  .main {
    height: 155vw;
  }
  .main .image {
    position: absolute;
    width: 100vw;
    height: 97.7vw;
    top: 0;
    left: 0;
    background-position: -100px;
    background-size: cover;
  }
  .main .text {
    width: 100vw;
    position: absolute;
    top: 97.7vw;
    left: 0;
  }
  .main .text h1 {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 24px;
    height: 58px;
    left: 16px;
    line-height: 29px;
    color: #2b2d42;
  }
  .main .text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    color: #2b2d42;
    left: 16px;
    top: 90px;
    height: 20px;
  }
  #btn {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    width: 328px;
    height: 56px;
    left: 16px;
    top: 128px;
    background-color: #0047ab;
    border: none;
  }
  .locEle {
    height: 17.77vw;
  }
  .locEle #para3 {
    line-height: 17px;
    height: 17px;
    font-weight: 600;
    font-size: 14px;
  }
  .parent {
    display: none;
  }
  .parentmob {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #onemob {
    margin-top: 13.33vw;
    margin-left: 4.44vw;
    margin-right: 4.44vw;
  }
  #para4mob {
    font-size: 24px;
    line-height: 29px;
    color: #2b2d42;
    height: 67px;
    font-weight: 500;
  }
  #onemob hr {
    background: linear-gradient(0deg, #ffc03d 100%, #ff8b08 100%);
    border: 1.5px solid transparent;
    width: 37.78vw;
  }
  #para5mob {
    font-size: 16px;
  }
  .cardContainer {
    margin-top: 12vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .Card {
    width: 223px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4.46vw;
    border-right: 0.5px solid #b9b9b9;
  }
  .Card h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    text-align: center;
    letter-spacing: -0.005em;
  }
  .para6 {
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #2b2d42;
    padding: 0.25rem;
  }
  #mobcard {
    border: none;
    width: 100vw;
    height: 100vw;
    align-items: center;
    justify-content: space-evenly;
  }
  #btn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 31px;
    justify-content: center;
    background-color: #0047ab;
    border: none;
    width: 52.2vw;
    height: 4.58vw;
    color: white;
    font-weight: 700;
  }
  .upper {
    display: flex;
    flex-direction: column;
    background: radial-gradient(
        80.11% 80.11% at 50% 19.89%,
        #f3f5f9 0%,
        rgba(243, 245, 249, 0.5) 100%
      ),
      #ffffff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .head2 p {
    height: 58px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2b2d42;
    margin: 0px 32px;
  }
  .head2 b {
    color: #ff8400;
  }
  .cardBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 48.9vw;
    width: 100vw;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 56px;
  }
  .head3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #2b2d42;
  }
  .content {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.005em;
    height: 60px;
    color: #2b2d42;
    width: 100%;
  }
  .Containertwo {
    justify-content: space-evenly;
    height: 128.33vw;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .column1 h3 {
    font-size: 23px;
    line-height: 29px;
    margin: 16px;
  }
  .column2 p {
    font-size: 16px;
    line-height: 22px;
    height: 88px;
    margin: 16px;
  }
  .row1 {
    width: 100vw;
    margin: 0;
  }
  .row2 {
    margin-left: 3.681vw;
    width: 100vw;
    margin: 0;
  }
  #dot {
    display: none;
  }
  .blueSec {
    width: 100vw;
    height: 151.388vw;
    background-color: #0047ab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  #headb {
    width: 328px;
    height: 87px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    margin: 36px 0px;
  }
  #Btnb {
    color: #0047ab;
    background-color: #ffffff;
    width: 327px;
    height: 53px;
    display: grid;
    place-items: center;
    background: #ffffff;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    margin: 36px 0px;
  }
  #up {
    position: absolute;
    bottom: 0;
    left: 80vw;
    transform: translateY(50%);
  }
  .SecFive {
    width: 100vw;
    background: linear-gradient(
      95.15deg,
      #fff1e1 0%,
      #fffbf7 87.89%,
      #ffffff 99.36%
    );
    /* opacity: 0.23; */
    height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
  }
  .seeMore {
    display: flex;
    flex-direction: row;
    width: 212px;
    justify-content: space-between;
    height: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.12em;
    color: #0047ab;
    margin: 16px 0 0 16px;
  }
  .card-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    flex-wrap: wrap;
  }
  .card-in span {
    width: 100vw;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 48px;
  }
  .card-in span h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    height: 48px;
    color: #2b2d42;
  }
  .card-in span p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
    height: 44px;
    font-weight: 500;
    color: #2B2D42;
    margin: 0;
  }
  .trick{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 48px;
    overflow: hidden;
  }
  .card3 {
    width: 288px;
    height: 198px;
    display: flex;
    margin: 0px 16px 0px 0px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 19px 23px 13px 23px;
    background: #ffffff;
    box-shadow: 0px 4px 4px #ebebeb;
    border-radius: 2px;
  }
  .card3 img {
    width: 112px;
    height: 16px;
  }
  .card3 h1 {
    width: 281px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
    color: #2b2d42;
  }
  .card3 p {
    width: 256px;
    height: 108px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.005em;
    color: #2B2D42;
    margin: 16px 0px;
  }
}

/* for desktops */

@media (min-width: 1025px) {
  .navbar {
    height: 86px;
  }
  #para1 {
    font-size: 16px;
  }
  #logo {
    width: 200px;
    height: 38.44px;
    margin-left: 4.4vw;
  }
  .main {
    display: flex;
    flex-direction: row;
    padding-top: 1px;
    height: 500px;
  }
  #btn {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.12em;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    width: 342px;
    height: 66px;
    left: 71px;
    top: 309px;
    background-color: #0047ab;
    border: none;
  }
  .main .text {
    width: 45.3%;
  }
  .main .text h1 {
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    top: 96px;
    height: 118px;
    left: 71px;
    line-height: 59px;
    color: #2b2d42;
  }
  .main .text p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    position: absolute;
    color: #2b2d42;
    left: 71px;
    top: 229px;
    height: 29px;
  }
  .main .image {
    width: 54.7%;
    height: 500px;
  }
  .locEle {
    height: 4.16vw;
  }
  .locEle #para3 {
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.12em;
  }
  .parent {
    height: 64.7vw;
    display: flex;
    flex-direction: row;
    padding-left: 10.416vw;
    padding-right: 10.416vw;
    flex-wrap: wrap;
  }
  #para4 {
    font-size: 30px;
    line-height: 37px;
    color: #2b2d42;
    height: 68px;
  }
  #para5 {
    font-size: 18px;
  }
  #one {
    width: 26.9vw;
    margin-top: 7.64vw;
    height: 17.2vw;
    margin-right: 4.58vw;
  }
  #one hr {
    background: linear-gradient(0deg, #ffc03d 100%, #ff8b08 100%);
    border: 1.5px solid transparent;
    width: 11.2vw;
  }
  .Card {
    width: 15.76vw;
    height: 23.96vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 6.46vw !important;
    border-right: 0.5px solid #b9b9b9;
    padding-top: 1.388vw;
    padding-left: 1.81vw;
    padding-right: 1.81vw;
  }
  .Card h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-align: left;
    letter-spacing: -0.005em;
  }
  .para6 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.005em;
    margin: 0;
  }
  #arrowr {
    margin-left: 9vw;
  }
  .last {
    border: none;
    margin-top: 3.82vw;
    justify-content: space-around;
    align-items: center;
    width: 16vw;
    padding-right: 0vw;
    padding-left: 1.1vw;
  }
  #three {
    border: none;
  }
  #four,
  #five,
  #six,
  #seven {
    margin-top: 3.82vw;
  }
  #btn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 31px;
    background-color: #0047ab;
    border: none;
    width: 13vw;
    height: 4.58vw;
    color: white;
    font-weight: 700;
  }
  #para7 {
    width: 14.3vw;
  }
  .parentmob {
    display: none;
  }
  .upper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 31.25vw;
    background: radial-gradient(
        80.11% 80.11% at 50% 19.89%,
        #f3f5f9 0%,
        rgba(243, 245, 249, 0.5) 100%
      ),
      #ffffff;
    position: relative;
  }
  .head2 {
    height: 2.92vw;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #2b2d42;
  }
  .head2 b {
    color: #ff8400;
  }
  .wrapper {
    height: 15.35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 11.39vw;
    margin-right: 11.39vw;
  }
  .cardBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 15.35vw;
    width: 15.35vw;
  }
  .head3 {
    margin: 20px 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
    height: 44px;
    width: 180px;
    color: #2b2d42;
  }
  .content {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.005em;
    height: 68px;
    width: 15.35vw;
    color: #2b2d42;
    margin: 20px 0px;
  }
  .Containertwo {
    justify-content: flex-start;
    height: 20.833vw;
    padding-left: 11vw;
    padding-right: 11vw;
  }
  .column1 h3 {
    font-size: 30px;
    line-height: 37px;
  }
  .column2 p {
    font-size: 18px;
    line-height: 29px;
    height: 62px;
    width: 830px;
  }
  .row1 {
    height: 11.55vw;
  }
  .row2 {
    height: 11.55vw;
    margin-left: 3.681vw;
    width: 862px;
  }
  #dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 0;
    width: 65.66vw;
  }
  .blueSec {
    width: 100vw;
    height: 286px;
    background-color: #0047ab;
    padding-left: 11.5vw;
    padding-right: 11.5vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #headb {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    width: 524px;
    height: 74px;
    margin-top: 57px;
  }
  #Btnb {
    color: #0047ab;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 0.12em;
    display: grid;
    place-items: center;
    width: 342px;
    height: 66px;
    margin-top: 27px;
  }
  #imgb {
    position: absolute;
    bottom: 0;
    left: 66.67vw;
  }
  #up {
    position: absolute;
    bottom: 0;
    left: 90vw;
    transform: translateY(50%);
  }
  .SecFive {
    width: 100vw;
    background: linear-gradient(
      95.15deg,
      #fff1e1 0%,
      #fffbf7 87.89%,
      #ffffff 99.36%
    );
    /* opacity: 0.23; */
    height: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 164px;
    padding-right: 165px;
    overflow: hidden;
  }
  .seeMore {
    display: flex;
    flex-direction: row;
    width: 212px;
    justify-content: space-between;
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.12em;
    color: #0047ab;
    margin-left: 258px;
  }
  .card-in {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 35px;
  }
  .card-in span {
    width: 250px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .card-in span h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    height: 48px;
    color: #2b2d42;
  }
  .card-in span p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
    height: 52px;
    color: #2b2d42;
  }
  .card3 {
    width: 327px;
    height: 210px;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 19px 23px 13px 23px;
    background: #ffffff;
    box-shadow: 0px 4px 4px #ebebeb;
    border-radius: 2px;
  }
  .card3 img {
    width: 112px;
    height: 16px;
  }
  .card3 h1 {
    width: 281px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
    color: #2b2d42;
  }
  .card3 p {
    width: 281px;
    height: 108px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.005em;
    color: #2b2d42;
    margin: 19px 0px;
  }
  .trick{
    display: flex;
    flex-direction: row;
  }
}
